# Set the following environment variables before running `docker-compose up -d` command
#
# EMPLOYER_CASHBOX_MYSQL_USER=employer-cashbox
# EMPLOYER_CASHBOX_MYSQL_PASSWORD=employer-cashbox-password
# EMPLOYER_CASHBOX_MYSQL_ROOT_PASSWORD=root-password
# EMPLOYER_CASHBOX_MYSQL_DATABASE=employer-cashbox
# EMPLOYER_CASHBOX_MYSQL_HOST_PORT=33060
# EMPLOYER_CASHBOX_NGINX_HOST_HTTP_PORT=80
# EMPLOYER_CASHBOX_NETWORK_SUBNET=192.168.222
# EMPLOYER_CASHBOX_XDEBUG_REMOTE_HOST=host.docker.internal (only for mac os and windows)

version: '3.6'

networks:
    employer-cashbox-network:
        name: employer-cashbox-network
        driver: bridge
        ipam:
            driver: default
            config:
                -   subnet: "${EMPLOYER_CASHBOX_NETWORK_SUBNET:-192.168.222}.0/28"

volumes:
    employer-cashbox-mysql-data:
        name: employer-cashbox-mysql-data
        driver: local

services:
    employer-cashbox-mysql:
        build:
            args:
                APPLICATION_PATH: /var/www/employer-cashbox
                MYSQL_USER: ${EMPLOYER_CASHBOX_MYSQL_USER:-employer-cashbox}
                MYSQL_PASSWORD: ${EMPLOYER_CASHBOX_MYSQL_PASSWORD:-employer-cashbox-password}
                MYSQL_ROOT_PASSWORD: ${EMPLOYER_CASHBOX_MYSQL_ROOT_PASSWORD:-root-password}
                MYSQL_DATABASE: ${EMPLOYER_CASHBOX_MYSQL_DATABASE:-employer-cashbox}
            context: ./
            dockerfile: build/mysql/Dockerfile
        container_name: employer-cashbox-mysql
        networks:
            employer-cashbox-network:
                ipv4_address: "${EMPLOYER_CASHBOX_NETWORK_SUBNET:-192.168.222}.2"
        ports:
            - ${EMPLOYER_CASHBOX_MYSQL_HOST_PORT:-33060}:3306
        restart: "no"
        tty: true
        volumes:
            - ./:/var/www/employer-cashbox/
            - employer-cashbox-mysql-data:/var/lib/mysql/
            - ./var/log/mysql/:/var/log/mysql/

    employer-cashbox-php-fpm:
        build:
            args:
                APP_ENV: dev
                APPLICATION_PATH: /var/www/employer-cashbox
                NGINX_HOST_HTTP_PORT: ${EMPLOYER_CASHBOX_NGINX_HOST_HTTP_PORT:-80}
                MYSQL_USER: ${EMPLOYER_CASHBOX_MYSQL_USER:-employer-cashbox}
                MYSQL_PASSWORD: ${EMPLOYER_CASHBOX_MYSQL_PASSWORD:-employer-cashbox-password}
                MYSQL_ROOT_PASSWORD: ${EMPLOYER_CASHBOX_MYSQL_ROOT_PASSWORD:-root-password}
                MYSQL_DATABASE: ${EMPLOYER_CASHBOX_MYSQL_DATABASE:-employer-cashbox}
                NETWORK_SUBNET: ${EMPLOYER_CASHBOX_NETWORK_SUBNET:-192.168.222}
                XDEBUG_REMOTE_HOST: ${EMPLOYER_CASHBOX_XDEBUG_REMOTE_HOST:-host.docker.internal}
            context: ./
            dockerfile: build/php-fpm/Dockerfile
        container_name: employer-cashbox-php-fpm
        depends_on:
            - employer-cashbox-mysql
        expose:
            - 9001
        environment:
            - "XDEBUG_CONFIG=remote_host=${EMPLOYER_CASHBOX_XDEBUG_REMOTE_HOST:-host.docker-internal} remote_enable=1"
            - "PHP_IDE_CONFIG=serverName=localhost:${EMPLOYER_CASHBOX_NGINX_HOST_HTTP_PORT:-80}"
        networks:
            employer-cashbox-network:
                ipv4_address: "${EMPLOYER_CASHBOX_NETWORK_SUBNET:-192.168.222}.3"
        restart: "no"
        tty: true
        volumes:
            - ./:/var/www/employer-cashbox/
            - ./var/log/php-fpm/:/var/log/php-fpm/

    employer-cashbox-nginx:
        build:
            context: ./
            dockerfile: build/nginx/Dockerfile
        container_name: employer-cashbox-nginx
        depends_on:
            - employer-cashbox-php-fpm
        networks:
            employer-cashbox-network:
                ipv4_address: "${EMPLOYER_CASHBOX_NETWORK_SUBNET:-192.168.222}.4"
        ports:
            - ${EMPLOYER_CASHBOX_NGINX_HOST_HTTP_PORT:-80}:80
        restart: "no"
        tty: true
        volumes:
            - ./:/var/www/employer-cashbox/
            - ./var/log/nginx/:/var/log/nginx/
