{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div id="logo" class="col-12 mb-4">
                <img src="{{ asset('/images/logo.jpg') }}" alt="logo">
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <img src="{{ asset('/images/logo.svg') }}" alt="logo">
            </div>
            <div class="col-9">
                <p id="agitation-text" class="text-center">
                    У Вас есть торговая точка, своё небольшое производство или вы предоставляете услуги оффлайн и
                    самоизоляция угрожает Вашему бизнесу? Это решение для Вас. Подключите сервис «Заработай с ТПП», и
                    Ваш
                    сайт превратится в простейший электронный магазин. Покупатель может купить товар прямо на сайте, Вы
                    увидите каждую покупку и историю продаж в своём аккаунте, деньги за продажу автоматом поступят на
                    Ваш
                    счёт, а чек отправится в налоговую (как при работе с онлайн-кассой).
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h4>Составные части онлайн-бизнеса:</h4>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Сайт</h2>
                <p>
                    Вести бизнес онлайн без сайта очень тяжело. Сайт позволит клиентам возвращаться к вам, через сайт
                    удобно организовывать процесс оплаты, а также учёта сделок, а также сайт позволяет применять
                    большинство инструментов продвижения Вашего онлайн-бизнеса. Если Вам необходима помощь – мы поможем
                    с созданием сайта.
                </p>
            </div>
            <div class="col-md-4">
                <h2>Приём платежей</h2>
                <p>
                    Есть множество способов организовать процесс оплаты товара – наложенный платёж после доставки,
                    наличными курьеру, в момент выдачи на складе и т.п. Для быстрого старта наиболее удобно использовать
                    автоматизированные инструменты, когда деньги в момент покупки поступают с карточки покупателя к Вам
                    на счёт, а чек отправляется в налоговую.
                </p>
            </div>
            <div class="col-md-4">
                <h2>Привлечение покупателей</h2>
                <p>
                    Вот только некоторые варианты: SEO-оптимизация сайта (улучшение сайта, чтобы он показывался в
                    поисковике на верхних позициях – отдача возможна через несколько месяцев); контекстная реклама в
                    Google Adwords, Yandex Direct и т.п., а также баннерная реклама Google Adwords, Yandex Direct, VK,
                    Facebook, Одноклассники и т.п. (отдача быстрая, но стоит дороже – надо платить за каждый клик или за
                    тысячу показов); доски объявлений – Avito, Youla, IRR и др. (есть бесплатные и платные варианты
                    размещения объявлений); тематические форумы, например, форумы автомобилистов, строителей,
                    рыбаков.
                </p>
            </div>
        </div>

        <hr>

    </div>
{% endblock %}
