{% for label, messages in app.flashes(['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'dark', 'light']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}