<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="float-left">
            <p>&copy; <a href="https://github.com/Lancer-Serega/symfony-starter" target="_blank">Sergey Shevchenko 2020.
                    All Rights Reserved</a>
            </p>
        </div>

        <div class="float-right">
            <span><a href="https://github.com/Lancer-Serega/symfony-starter">GitHub Project</a></span>
            <span><a href="https://github.com/Lancer-Serega/symfony-starter">Issues</a></span>
        </div>
    </div>
</footer>