<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="float-left">
            <p>
                &copy;
                <a href="https://github.com/Lancer-Serega/symfony-starter" target="_blank" class="text-dark">
                    Мособлэкспо 2020. Все права защищены.
                </a>
            </p>
        </div>

        <div class="float-right"></div>
    </div>
</footer>