{% extends 'base.html.twig' %}

{% block title %} | Контакты {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="title_header">
                <h3> Свяжитесь с нами через форму ниже </h3>
            </div>

            {% include 'includes/flash_messages.html.twig' %}

            <form action="{{ url('route.contact.submit') }}" method="POST">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label font-weight-bold" for="name">Имя</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="name" id="name" autocomplete="name" autofocus="">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label font-weight-bold" for="email">Email</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="email" id="email" autocomplete="email">
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-md-2 col-form-label font-weight-bold" for="message">Пожалуйста, опишите проблему
                        или ваше предложение</label>
                    <div class="col-md-8">
                        <textarea class="form-control" name="message" id="message" rows="7" autofocus="true"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="offset-md-2 col-md-8 p-1">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="fa fa-envelope fa-sm"></i>&nbsp;&nbsp;Отправить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
